@{
    ViewData["Title"] = "Home Page";
}

@model OpgaveUge3.Models.Vurdering

@{
    ViewData["Title"] = "Vurdering";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h2>Giv din mening til kende</h2>
        <div class="alert alert-info">
            <p>Her kan du vurdere et produkt.</p>
            <p>Indtast dit navn, hvilket produkt du vil vurdere og hvad du mener om det.</p>
        </div>
    </div>
</div>

<h2>Vurdering</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Vurdering">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Navn" class="control-label"></label>
                <input asp-for="Navn" class="form-control" />
                <span asp-validation-for="Navn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produkt" class="control-label"></label>
                <input asp-for="Produkt" class="form-control" />
                <span asp-validation-for="Produkt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beskrivelse" class="control-label"></label>
                <textarea asp-for="Beskrivelse" class="form-control"></textarea>
                <span asp-validation-for="Beskrivelse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Karakter" class="control-label"></label>
                <input asp-for="Karakter" class="form-control" />
                <span asp-validation-for="Karakter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <h4>Således kommer jeg frem til dette resultat</h4>
        <div class="alert alert-info">
            <p>Jeg opretter et nyt projekt som ASP.NET Core Web Application med template Web Application (Model-View-Controller).</p>
            <p>&nbsp;</p>
            <p>Under Views/Home sletter jeg About.cshtml, Contact.cshtml og Privacy.cshtml</p>
            <p>Under Views/Shared sletter jeg _CookieConsentPartial.cshtml og _ValidationScriptsPartial.cshtml</p>
            <p>I _Layout.cshtml fjerner jeg referencer til _CookieConsentPartial.</p>
            <p>&nbsp;</p>
            <p>Under Models opretter jeg en bønne ved navn Vurdering.cs med de nødvendige indtastningsfelter.</p>
            <p>&nbsp;</p>
            <p>I HomeController markerer jeg Index metoden og tilføjer et MVC View ved navn Vurdering og med template Create til Model class Vurdering. Som layout vælger jeg Views/Shared/_Layout.cshtml.</p>
            <p>Jeg sletter metoderne About, Contact og Privacy.</p>
            <p>&nbsp;</p>
            <p>Jeg tømmer Index.cshtml for indhold og kopierer indholdet fra Vurdering.cshtml ind i Index.cshtml sammen med lidt ledetekst.</p>
            <p>Denne tekst bliver lagt ind i bunden af Index.cshtml som dukumentation.</p>
            <p>Herefter har jeg en kørende applikation som tillader indtastning af navn, produkt og karakter.</p>
            <p>&nbsp;</p>
            <p>Der er ingen validering og ingen persistering, for det kan jeg ikke finde ud af endnu.</p>

        </div>
    </div>
</div>