@model OpgaveUge3.Models.Vurdering

@{
    ViewData["Title"] = "Vurdering";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vurdering</h2>

<h4>Vurdering</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Vurdering">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Navn" class="control-label"></label>
                <input asp-for="Navn" class="form-control" />
                <span asp-validation-for="Navn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produkt" class="control-label"></label>
                <input asp-for="Produkt" class="form-control" />
                <span asp-validation-for="Produkt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beskrivelse" class="control-label"></label>
                <textarea asp-for="Beskrivelse" class="form-control"></textarea>
                <span asp-validation-for="Beskrivelse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Karakter" class="control-label"></label>
                <input asp-for="Karakter" class="form-control" />
                <span asp-validation-for="Karakter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
